@import url('https://fonts.googleapis.com/css2?family=Andika&family=Roboto&display=swap');

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Andika', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #033a80;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: hsl(260, 100%, 51%);

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;

}

/*                                         Navbar                                           */

.navbar {
    padding: 0px 30px;
    position: sticky;
    height: 60px;
    justify-content: space-between;
    display: flex;
    background-color: #0e0e1b;
    align-items: center;
}

.navbar-image {
    display: flex;
    align-items: center;
}

.navbar-image img {

    align-items: center;
    justify-content: center;
    width: 12%;
}

.navbar-details {

    display: flex;
    justify-content: space-between;

}

.navbar-details li {
    margin-left: 20px;
    color: aliceblue;
    font-size: 18px;
    display: inline;
    padding: 0 6px;
    border-radius: 8px;

}

.navbar-details li:hover {

    background-color: var(--hover);
    color: white;
}

.navbar-content {
    display: flex;
    float: right;
    font-size: var(--text-color);

}



.main_details img {
    border-radius: 100%;
    width: 20%;
}



section {
    padding: 50px 10%;
}

*::selection {
    color: #fff;
    background-color: #033a80;
}

.home1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

#home {

    justify-content: space-around;
}

/* #home>div{
    border: 1px solid green;  
} */

.main_details {
    text-align: center;
    cursor: pointer;
    width: 1000px;
    /* border: 1px solid yellow; */
}

.main_details div {

    padding: 10px 0px;
    text-align: center;
    align-items: center;
}


.main_details span {
    font-size: var(--medium-font);
    font-weight: 500;
}

.main_details h1 {
    text-align: center;
    font-size: 55px;
}

.main_details h2 {
    text-align: center;
    font-size: 18px;
    font-weight: var(--big-font);
}



.main1 {
    display: flex;
    flex-direction: column;

}

.main1 a {
    margin-left: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

.main1 a:hover {
    color: hsl(260, 100%, 51%);
}

.bttn {
    border-radius: 25% 0% 25% 0%;
    cursor: pointer;
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;

    justify-content: center;
    padding: 0.7rem 1.3rem;
    text-align: center;
}

.bttn:hover {
    background: hsl(260, 100%, 51%);
}


/* about section */

.heading {
    padding: 20px;
    text-align: center;
}

.heading h2 {
    font-size: 30px;
}

.heading span {
    font-size: var(--medium-font);
    color: rgb(248, 248, 248);
}

.about-container {
    width: 80%;
    margin: auto;
    /* text-align: center; */
    /* border: 1px solid red; */
}


.about-text p {
    padding: 20px;
    color: #0f0c27;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-around;
}

.about_image {
    text-align: center;
}

.about_image img {
    border-radius: 25% 0% 25% 0%;
    width: 30%;
}

.info {
    color: #0f0c27;
    margin: 1rem 0 1.4rem;
}

.info info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.info .info-box .bx {
    color: #0f0c27;
    font-size: 22px;
}

.info .info-box span {
    color: #0f0c27;
    font-weight: 400;
    margin-left: 1rem;
}



/* >  GITHUB CALENDER< */
@import url(../../dist/github-calendar-responsive.css);
@import url(https://unpkg.com/bag.css@1.0.12/dist/bag.fixed.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/github.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.css);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.bag>h1 {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.monospace {
    font-family: 'Cutive Mono', monospace !important;
}


body {
    font-family: 'Cutive Mono', monospace;
}

@media(min-width:992px) {
    .bag.fixed {
        width: 784px;
    }
}

pre {
    background: white;
    /* border: 1px solid #DDDDDD; */
    padding: 10px;
    overflow: auto;
    border-radius: 3px;
    color: #373727;
}

.calendar {
    margin-bottom: 10px;
    color: white;
}

p {
    color: #444444;
}

img.spinner {
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 49px;
    padding: 40px 0;
}

.calander_details {
    width: 50%;
    margin: auto;
}


/* <-----------Myproject-----------> */

.MyProject {
    padding-top: 100px;
    text-align: center;
}

.MyProject>h1 {
    margin-bottom: 80px;
}

.project1 {
    display: flex;
    width: 1349px;
    height: 501px;
    padding: 47px;
    justify-content: space-between;
    margin: auto;
}

.project_img img {
    /* padding: 10px; */
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.project_img {
    height: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project_details * {
    /* padding: 10px; */
    padding-bottom: 10px;
}

.project_details p {
    color: #0f0c27;
}