
 @import url('https://fonts.googleapis.com/css2?family=Andika&family=Roboto&display=swap');

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Andika', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-color: #033a80;
    --bg-color:#fff;
    --text-color:#0f0c27;
    --hover: hsl(260,100%,51%);

    --big-font:3.2rem;
    --medium-font:1.8rem;
    --p-font: 0.941rem;

}

.main-image1 img{
    width: 63%;
}

section{
    padding: 50px 10%;
}
*::selection{
    color:#fff;
    background-color: #033a80;
}

.home1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
#home{

    justify-content: space-around;
}

/* #home>div{
    border: 1px solid green;  
} */

.main-image1{
    display: flex;
    margin: auto;
   justify-content: center;
    order:3 ;
}

.main_details span{
font-size:1.8rem;
font-weight: 500;
}
.main_details h1{
    font-size: 3.2rem;
}

.main_details h2{
    font-size: 1.1rem;
    font-weight: 400;
}
.main_details p{
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;

}

.main1{
    display: flex;
    flex-direction:column ;

}

.main1 a{
    margin-left: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

.main1 a:hover{
    color:hsl(260,100%,51%);
}

.bttn{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
}

.bttn:hover{
    background: hsl(260,100%,51%);
}


                                 /* about section */

.heading{
    text-align: center;
}                      

.heading h2{
    font-size: 30px;
}

.heading span{
    font-size: var(--medium-font);
    color: rgb(2, 166, 70);
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-image img{
width: 50%;
border-radius: 0.5rem;
}

.about-text p{
    font-size:var(--p-font) ;
    font-weight: 400;
    text-align: justify;
}

.info{
    margin: 1rem 0 1.4rem;
}

.info info-box{

    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.info .info-box .bx{
    font-size: 22px;
}

.info .info-box span{
    font-weight: 400;
    margin-left: 1rem;
}